In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import sklearn.linear_model
import sklearn.ensemble
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [2]:
#preprocessing train data set
data=pd.read_csv('Train.csv')
print(data.head())

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15         9.30          Low Fat         0.016047
1           DRC01         5.92          Regular         0.019278
2           FDN15        17.50          Low Fat         0.016760
3           FDX07        19.20          Regular         0.000000
4           NCD19         8.93          Low Fat         0.000000

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052

In [3]:
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [4]:
data.Item_Fat_Content.value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [5]:
data.Item_Type.value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [6]:
data.Outlet_Size.value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [7]:
data.Outlet_Type.value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [8]:
data.Outlet_Location_Type.value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [9]:
data_Missing=data.isnull().sum()
data_Missing

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [10]:
twowaytable=pd.crosstab(data['Outlet_Size'],data['Outlet_Type'])
twowaytable

Outlet_Type,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
Outlet_Size,,,,
High,0,932,0,0
Medium,0,930,928,935
Small,528,1860,0,0

In [11]:
d={'Grocery Store':'Small'}
s=data.Outlet_Type.map(d)
data.Outlet_Size=data.Outlet_Size.combine_first(s)

In [12]:
twowaytable=pd.crosstab(data['Outlet_Size'],data['Outlet_Location_Type'])
twowaytable

Outlet_Location_Type  Tier 1  Tier 2  Tier 3
Outlet_Size
High                       0       0     932
Medium                   930       0    1863
Small                   1458     930     555

In [13]:
d={'Tier 2':'Small'}
s=data.Outlet_Location_Type.map(d)
data.Outlet_Size=data.Outlet_Size.combine_first(s)

In [14]:
data.Outlet_Size.isnull().any()

False

In [15]:
data['Item_Weight']=data['Item_Weight'].fillna(data.groupby('Item_Identifier')['Item_Weight'].transform('mean'))

In [16]:
data.Item_Weight.isnull().sum()

4

In [17]:
List=['Baking Goods','Breads','Breakfast','Canned','Dairy','Frozen Foods','Fruits and Vegetables','Hard Drinks','Health and Hygiene','Household','Meat','Others','Seafood','Snack Foods','Soft Drinks','Starchy Foods']
Mean_values_Item_Type_data=data.groupby('Item_Type')['Item_Weight'].mean()
for i in List:
    d={i:Mean_values_Item_Type_data[i]}
    s=data.Item_Type.map(d)
    data.Item_Weight=data.Item_Weight.combine_first(s)
Mean_values_Item_Type_data=data.groupby('Item_Type')['Item_Weight'].mean()

In [18]:
data.Item_Weight.isnull().any()

False

In [19]:
data.Item_Visibility.value_counts()

0.000000    526
0.076975      3
0.041283      2
0.085622      2
0.187841      2
           ...
0.092576      1
0.067544      1
0.115168      1
0.146896      1
0.050902      1
Name: Item_Visibility, Length: 7880, dtype: int64

In [20]:
data['Item_Visibility'].replace(0.00000,np.nan)
data['Item_Visibility'].fillna(data.groupby('Item_Identifier')['Item_Visibility'].transform('mean'))

0       0.016047
1       0.019278
2       0.016760
3       0.000000
4       0.000000
          ...
8518    0.056783
8519    0.046982
8520    0.035186
8521    0.145221
8522    0.044878
Name: Item_Visibility, Length: 8523, dtype: float64

In [21]:
data.Item_Visibility.isnull().any()

False

In [22]:
#FEATURE SCAILING
#replace LF by Low Fat ,low fat by lf,reg by Regular
data['Item_Fat_Content']=data['Item_Fat_Content'].replace({'low fat':'Low Fat','reg':'Regular','LF':'Low Fat'})
data.Item_Fat_Content.value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [23]:
data['Outlet_Years']=2018-data['Outlet_Establishment_Year']
Mean_Visibility=data['Item_Visibility'].mean()
data['Item_Visibility_MeanRatio']=data.apply(lambda x:x['Item_Visibility']/Mean_Visibility,axis=1)

In [24]:
#Convert categorical into numerical 
var_mod=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Outlet_Type','Item_Type']
number=LabelEncoder()
data['Outlet']=number.fit_transform(data['Outlet_Identifier'])
data['Identifier']=number.fit_transform(data['Item_Identifier'])
for i in var_mod:
      data[i]=number.fit_transform(data[i])
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Years,Item_Visibility_MeanRatio,Outlet,Identifier
0,FDA15,9.30,0,0.016047,4,249.8092,OUT049,1999,1,0,1,3735.1380,19,0.242656,9,156
1,DRC01,5.92,1,0.019278,14,48.2692,OUT018,2009,1,2,2,443.4228,9,0.291511,3,8
2,FDN15,17.50,0,0.016760,10,141.6180,OUT049,1999,1,0,1,2097.2700,19,0.253434,9,662
3,FDX07,19.20,1,0.000000,6,182.0950,OUT010,1998,2,2,0,732.3800,20,0.000000,0,1121
4,NCD19,8.93,0,0.000000,9,53.8614,OUT013,1987,0,2,1,994.7052,31,0.000000,1,1297

In [25]:
predictors=['Item_Fat_Content','Item_Visibility','Item_Type','Item_MRP','Outlet_Size','Outlet_Location_Type','Outlet_Type','Outlet_Years','Item_Visibility_MeanRatio',
            'Outlet','Identifier','Item_Weight']
X_train=data[predictors]
y_train=data['Item_Outlet_Sales']

In [26]:
x, X_test, y, y_test = train_test_split(X_train, y_train, test_size = 0.25, random_state=43)

In [27]:
#fitting the model to train data set
rf=RandomForestRegressor()
rf.fit(x,y)

C:\Users\Anirudh Shivshetty\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [28]:
original_values=y_test
predicted=rf.predict(X_test)
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(original_values, predicted))
rms

1162.0852735574636

In [29]:
#testing for the test data set 
#preprocessing test data set
data11=pd.read_csv('Test.csv')
data_Missing1=data11.isnull().sum()
data_Missing1

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [30]:
twowaytable1=pd.crosstab(data11['Outlet_Size'],data11['Outlet_Type'])
twowaytable1

Outlet_Type,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
Outlet_Size,,,,
High,0,621,0,0
Medium,0,620,618,624
Small,352,1240,0,0

In [31]:
d1={'Grocery Store':'Small'}
s1=data11.Outlet_Type.map(d1)
data11.Outlet_Size=data11.Outlet_Size.combine_first(s1)

In [32]:
twowaytable=pd.crosstab(data11['Outlet_Size'],data11['Outlet_Location_Type'])
twowaytable

Outlet_Location_Type  Tier 1  Tier 2  Tier 3
Outlet_Size
High                       0       0     621
Medium                   620       0    1242
Small                    972     620     370

In [33]:
d1={'Tier 2':'Small'}
s1=data11.Outlet_Location_Type.map(d1)
data11.Outlet_Size=data11.Outlet_Size.combine_first(s1)

In [34]:
data.Outlet_Size.isnull().any()

False

In [35]:
data11['Item_Weight']=data11['Item_Weight'].fillna(data.groupby('Item_Identifier')['Item_Weight'].transform('mean'))

In [36]:
data11.Item_Weight.isnull().any()

False

In [37]:
data11['Item_Visibility'].replace(0.00000,np.nan)
data11['Item_Visibility'].fillna(data.groupby('Item_Identifier')['Item_Visibility'].transform('mean'))

0       0.007565
1       0.038428
2       0.099575
3       0.015388
4       0.118599
          ...
5676    0.013496
5677    0.142991
5678    0.073529
5679    0.000000
5680    0.104720
Name: Item_Visibility, Length: 5681, dtype: float64

In [38]:
data11.Item_Visibility.isnull().any()

False

In [39]:
data11['Item_Fat_Content']=data11['Item_Fat_Content'].replace({'low fat':'Low Fat','reg':'Regular','LF':'Low Fat'})
data11.Item_Fat_Content.value_counts()

Low Fat    3668
Regular    2013
Name: Item_Fat_Content, dtype: int64

In [40]:
data11['Outlet_Years']=2018-data11['Outlet_Establishment_Year']
Mean_Visibility1=data11['Item_Visibility'].mean()
data11['Item_Visibility_MeanRatio']=data11.apply(lambda z:z['Item_Visibility']/Mean_Visibility,axis=1)

In [41]:
data11['Outlet']=number.fit_transform(data11['Outlet_Identifier'])
data11['Identifier']=number.fit_transform(data11['Item_Identifier'])
for i in var_mod:
      data11[i]=number.fit_transform(data11[i])
data11.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Outlet_Years,Item_Visibility_MeanRatio,Outlet,Identifier
0,FDW58,20.750,0,0.007565,13,107.8622,OUT049,1999,1,0,1,19,0.114390,9,1103
1,FDW14,8.300,1,0.038428,4,87.3198,OUT017,2007,2,1,1,11,0.581075,2,1067
2,NCN55,14.600,0,0.099575,11,241.7538,OUT010,1998,2,2,0,20,1.505699,0,1406
3,FDQ58,7.315,0,0.015388,13,155.0340,OUT017,2007,2,1,1,11,0.232692,2,809
4,FDY38,8.930,1,0.118599,4,234.2300,OUT027,1985,1,2,3,33,1.793372,5,1184

In [42]:
X_test1=data11[predictors]

In [43]:
y_test1=rf.predict(X_test1)
#corresponding predicted values of Item_Outlet_sales for the test data set is stored in y_test1
print(y_test1)

[1317.2853  1539.86224  697.22576 ... 1807.91332 4849.0214  1434.39952]

In [44]:
y_test1.size

5681